registry=https://rb-artifactory.bosch.com/artifactory/api/npm/npmjs-remote/
//rb-artifactory.bosch.com/artifactory/api/npm/npmjs-remote/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJnMzR0ZXRQV1R6cVZRZGFRRTI2eEhrOE5HZFhkZnI1VVMzc0VKcXloV1JJIn0.eyJzdWIiOiJqZi1hcnRpZmFjdG9yeUBmNmYyNDhhOC00YzdjLTQ1YjgtYmU4Ny03MzExYzM1MGI5M2MvdXNlcnMvY25yNmNhIiwic2NwIjoiYXBwbGllZC1wZXJtaXNzaW9ucy91c2VyIiwiYXVkIjoiamYtYXJ0aWZhY3RvcnlAZjZmMjQ4YTgtNGM3Yy00NWI4LWJlODctNzMxMWMzNTBiOTNjIiwiaXNzIjoiamYtYXJ0aWZhY3RvcnlAZjZmMjQ4YTgtNGM3Yy00NWI4LWJlODctNzMxMWMzNTBiOTNjL3VzZXJzL19zeXN0ZW1fIiwiZXhwIjoxNzI0ODQyODYzLCJpYXQiOjE3MjIyNTA4NjMsImp0aSI6ImFhZGFiMTNiLTNhNGEtNDkwYy1hNjEzLTZlMTY1ODhkN2E3YyJ9.qMrom7e6t5PL04-WjNaB11K4q99iSuioajPdBNwTj1VuZPOBO9w3vQRrKqF_R6vCdSeXpMJIdg-bY7E5dSVf9sCRksp38L9DREDdWvsglQzDQFutXwsQ8mQ1_0MTtNxGmC1LXRNymZ2JMZC2OucCcXUYnA5GzdvaWfjA0U3ItWhbnLKFVpF4jQDO2XGQ7aMLUL72it5uNshqulDKs092X0WQdKeNJ01sbM8Jdpp0uXduSBmGVoHnwXzKWSaHhZSxe5cEZXO0oB-mMYpZS9RB1UiO0yM0_egPvXqNJAOZZVBQuQdGVe7lsn4aqUV0hb0cuv1UnG3jmtu0IJcOY0v-Og
